<div style="text-align:left;font-size:2em"><span style="font-weight:bolder;font-size:1.25em">SP2273 | Learning Portfolio</span><br><br><span style="font-weight:bold;color:darkred">Loops (Need) Exercises</span></div>

### Exercise 1

In [24]:
temperatures_celsius = [
    0, 5, 10, 15, 20, 25,
    30, 35, 40, 45, 50
]

In [25]:
temperatures_celsius = [
    0, 5, 10, 15, 20, 25,
    30, 35, 40, 45, 50
]

temperatures_farenheit = []    #Empty list to store new values after conversion

for temp in temperatures_celsius:  #For every value in original list
    temperatures_farenheit.append((temp*1.8) + 32)  #Append new value into empty list after conversion from Celsius to Fahrenheit 
    
print(temperatures_celsius)             #Final step to print both Celsius and Fahrenheit lists
print(temperatures_farenheit)

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50]
[32.0, 41.0, 50.0, 59.0, 68.0, 77.0, 86.0, 95.0, 104.0, 113.0, 122.0]

### Exercise 2

In [7]:
for letter in ['A', 'B', 'C']:
    for number in [1, 2, 3]:
        print(f'{letter}{number}', end='\t')
    print('\n')

A1	A2	A3

B1	B2	B3

C1	C2	C3

In [26]:
for number in [1, 2, 3, 4, 5]:                   #For every value in list           
    for multiple in [1,2,3,4,5]:                  
        print((number)*(multiple), end='\t')     #Multiply each value in both list
    print('\n')

1	2	3	4	5

2	4	6	8	10

3	6	9	12	15

4	8	12	16	20

5	10	15	20	25

In [28]:
for number in [1, 2, 3, 4, 5]:                   #For every value in list           
    for multiple in [1,2,3,4,5]:                  
        print(f"{number}:",(number)*(multiple), end='\t')     #Multiply each value in both list
    print('\n')

1: 1	1: 2	1: 3	1: 4	1: 5

2: 2	2: 4	2: 6	2: 8	2: 10

3: 3	3: 6	3: 9	3: 12	3: 15

4: 4	4: 8	4: 12	4: 16	4: 20

5: 5	5: 10	5: 15	5: 20	5: 25

In [31]:
for number in [1, 2, 3, 4, 5]:                   #For every value in list
    print(f"{number} : \t", end="")              #Print the column for each value only once
    for multiple in [1,2,3,4,5]:                  
        print((number)*(multiple), end='\t')     #Multiply each value in both list
    print('\n')

1 : 	1	2	3	4	5

2 : 	2	4	6	8	10

3 : 	3	6	9	12	15

4 : 	4	8	12	16	20

5 : 	5	10	15	20	25

### Updated solution

In [4]:
for number in range(1,6):                   #For every value in list
    print(f"{number} : \t", end="")              #Print the column for each value only once
    for multiple in range(1,6):                  
        print((number)*(multiple), end='\t')     #Multiply each value in both list
    print('\n')

1 : 	1	2	3	4	5

2 : 	2	4	6	8	10

3 : 	3	6	9	12	15

4 : 	4	8	12	16	20

5 : 	5	10	15	20	25